<div class="container">
    <p class="text-center text-md-left">Traditional home automation systems were designed keeping the mind limited connectivity. Not that automation was
        not prevalent, but it had to have you there to set/alter the configuration. So what you could have done standing
        beside a switch was what you would do to an automation. <strong class="text-info">Notice how automation wasn't a
            stand out.</strong> But with emergence of cloud you can now be anywhere on the face of the
        planet, connect to internet and send commands back to your nifty automation device at home. <span
            class="text-info">Its this remote
            connectivity that makes Internet-of-things so unique and relevant.</span>
    </p>
    <p class="text-center text-md-left">
        Ever since internet became available to the public in 1991, various features were unravelled across the globe.
        Technology has evolved in a futuristic way making our lives far simpler. <span class="text-info">Smart home
        devices help ease decision-making, solve daily challenges, and make life healthier and safer.</span> You, as a house owner
        need no longer worry about if a certain switch has been turned OFF or ON on time, Or wish there was someone who could help you
        with the switches when on vacation. Cloud coupled with automation can now allow you to control/set/configure remotely
        from your handheld.
    </p>
</div>
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="mb-0">Home is where the comfort is, The real comfort although is in living smart and simple </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        #SmartHomeAutomation <cite title="Source Title">Hogar</cite>
    </figcaption>
</figure>
<div class="container my-4">
    <h5 class="text-secondary text-center text-md-left">Connectivity is a new default</h5>
    <p class="text-center text-md-left">Lack of connectivity sets us back to the stone age. The devices we propose would be just <span
            class="text-muted">automation devices</span>
        if not connected to the internet. Quite similar to a smart fone without a data connection! Lack of
        connectivity is one of the major problems that influence user experience and hampers adoption.
        <span class="text-info">WiFi is a necessity and no longer a luxury</span> for the neo-urban homes. We can
        hence see home automation devices using this pattern-shift to the new default as a base on which it can
        thrive. Personalised connectivity hubs like <em class="text-info">Zigbee, Z-Wave, Wi-Fi, Bluetooth</em> and
        other IoT connectivity
        technologies will take over the smart home market in 2021.
    </p>
</div>
<div class="container my-4">
    <h5 class="text-secondary text-center text-md-left">Infinite field remote</h5>
    <p class="text-center text-md-left">Cloud enablement brings us an array of possibilities that would have been fiction a decade back. Devices on the
        ground hook onto the local WiFi to go online. While users using their handhelds push commands & setttings
        through mobile web applications. This arrangement makes it possible for the user to roam around anywhere in the
        ambit of the internet signal field and send commands back home where the device are tuned in with anticipation.
        Blue tooth field-range limitation and physical tough screen buttons /peripherals are grossly frustrating. <span
            class="text-info">If you were ok with being 'within field' of the device to have to change its setting you
            might as well go back tp operating switches like you did when there wasnt any automation at all, wouldn't
            we?</span></p>
</div>
<div class="container my-4">
    <h5 class="text-secondary text-center text-md-left">Sentient homes</h5>
    <p class="text-center text-md-left">Sentient homes symbolizes the idea of future homes, homes that are a much better / convenient places to dwell in
        (I have a feeling they would be much more fun of place too). Such homes would have inmate preferences on one
        side while the external/internal physical conditions on the other. <span class="text-info">Intuitively the homes
            could negotiate the best possible settings/time of operations for your appliances leaving you to worry much
            less and enjoy your home much more.</span>
    </p>
    <p class="text-center text-md-left">The home will automatically adjust in real-time, a spectrum of facilities that support individuals, preferences
        inefficiency and weather patterns. On a whole, these smart houses are totally automatic that the house routines
        on their own.</p>
</div>
<div class="container my-4">
    <h5 class="text-secondary text-center text-md-left">Consumer security, privacy and confidence</h5>
    <p class="text-center text-md-left">There is no denying the hesitancy that consumers have when anything involves <em>cloud</em> since it involves the
        risk of data breach, however it has not stopped anyone from expecting more. We at Eensymachines are transperant
        when it comes to letting the users know how their data is being used (if at all) further. In coming years and
        beyond, smart home manufacturers will concentrate more on how to collect minimum data and provide maximum
        service to consumers.</p>
</div>
<div class="container text-center">
    <img width="100%" src="/images/sbclaptop.jpg" alt="single board on a laptop">
    <div class="container text-right">
        <small><a
                href="https://unsplash.com/photos/zDxlNcdUzxk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">Image
                credits</a></small>
    </div>
    <p class="my-2">Check out
    <h4><a href="/products/autolumin">Autolumin</a></h4> is our new product with cloud controlled switches</p>
</div>