<div class="container">
    <p class="text-center text-md-left">Not that traditional switches were a bad idea, but they havent been able to keep up with the times. Inanimate and
        painfully reactive, after having used them for so long its about time they start understanding better, yes
        we mean: Switches ! Wouldn't it be better if they could store our preferences and remember to turn ON/OFF just
        when we need it ? Clocks and switches have been around since centuries, but we had to wait till the advent of
        internet to think about switches that could take our commands while on the move from anywhere. We have tried our
        hands at bluetooth automation but range was again a issue.</p>
</div>
<div class="container">
    <h5 class="text-secondary text-center text-md-left">Switches as internet of things</h5>
    <p class="text-center text-md-left">Single board computers were a revolution, in that they allowed us to <em>customize</em> devices closer to user
        preferences. Relays when coupled with such devices can give a internet gateway and make them come alive. A cloud
        can then serve as a <em>route</em> to commmands from the user and data from the device (on ground).</p>
    <p class="text-center text-md-left">Smart phones have got almost all of us online, all that remains is to get our <em class="text-info">things</em>
        online. We @Eensymachines would recommend <em class="text-info">mobile-web</em> over mobile applications but the
        central idea still is to achieve sending commmands from your handhelds to the remote devices.</p>
</div>
<div class="container">
    <h5 class="text-secondary text-center text-md-left">Switches scheduled to a clock</h5>
    <p class="text-center text-md-left">If all that you could do different was a mobile app instead of switch, IoT would really be redundant. But we use
        the
        remote connectivity to let the user set the <em class="text-info">switch schedule once</em> and then just let it
        run
        over and over
        again against a 24 hour clock. Customizations include distinct clocks for each of the switches and setting a
        <em>blanket schedule for all the switches all at once</em>
    </p>
</div>
<div class="container">
    <h5 class="text-secondary text-center text-md-left">Areas of application?</h5>
    <p class="text-center text-md-left">Just about anywhere where you need a group of (or single) electrical switches being operated remotely and set
        against a clock. Now we can leave that to your imagination but a couple of popular examples are here</p>
    <ul>
        <li><strong>Residential societies:</strong> Porches of residential buildings are illuminated as per the mandates
            from General
            Body Meetings (GBM). Yet there are floors that have specific/exceptional preferences regarding time of
            ON/OFF. With <a href="">Autolumin</a> this is as easy as it gets. Blanket schedule for all switches, plus
            custom ones for each individual.</li>
        <li><strong>Aquarium accessories:</strong> Scheduling aquarium accessories to a clock can actually render a more
            comfortable
            environment for your pets. Overtime illumination can cause stress and foster algae growth. While short
            illumination can make your pets sedantary. <a href="">Aquaminder</a> can precisely control the environment,
            you can sit back and change the configurations from your handheld.</li>
    </ul>
</div>
<div class="container">
    <h5 class="text-secondary text-center text-md-left">How do you use such switches?</h5>
    <p class="text-center text-md-left">These units replace and bypass the traditional switches entirely. A trained electrical professional can help
        balance the amperage and thus club the appliances to the available switches (nodes). We provide no failsafe
        within so recommend to use it serially ahead of an MCB / over current protector.</p>
</div>

<!-- -->
<div class="container text-center">
    <img width="100%" src="/resources/img/switches.jpg" alt="switches on wall">
    <div class="container text-right">
        <small><a
                href="https://unsplash.com/photos/IJkSskfEqrM?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink ">Image
                credits</a></small>
    </div>
    <p class="my-2">Check out
    <h4><a href="#!/products/autolumin">Autolumin</a></h4> is our new product with cloud controlled switches</p>
</div>