<div class="container">
    <p class="text-center text-md-left">These days, there is a vast range of devices powered by IoT. These include thermostats, refrigerators, security
        systems and even dryers and kettles. With the passage of time, more devices are sure to be added and with
        "smart feature". The number of possibilities that IoT opens up is actually not very surprising for us, when
        devices get interconnected it does lead the way to myraid things we can do with it. <em>Home automation is just
            one
            of the many amusing things we can do.</em> </p>
    <p class="text-center text-md-left"><strong>Internet-Of-Things</strong> is a very broad term that entails connection of devices to the internet. Such
        systems depend on the collection of data. Collected data over lengths of time can open doors to various machine
        learning applications. You may think of IoT to be the backbone of all/any future analytical applictions. What
        data enables is for specific contextual actions to be actuated. In a simple example, consider a smart kettle.
        The kettle can be programmed to automatically turn off once it reaches a specific temperature. It might also
        send a notification to the user on the same. If the kettle can accumulate enough historical data, mathematical
        curve fitting can make it possible to predict the next ON time ! <em class="text-info">Imagine your kettle just knows when you need
            your next coffee from your old habits !</em>
    </p>
    <p class="text-center text-md-left">Now apply the same concept to the entire home and all the devices present. That is a <em class="text-info">smart home powered
            by IoT</em>.
        Instead of manually going up to the device and taking action, those actions can be taken from the convenience of
        your handheld(s)!</p>
    <h4 class="text-info">Few of the many smart home applictions</h4>
    <p class="text-center text-md-left"> <strong class="text-secondary">Smart lighting</strong> is already a rage. They can be scheduled to turn on/off
        and
        change their
        intensity.
        However, in future, it is possible for this to be taken a step further. If such lights are already internet
        enabled it can then predict your mood and adjust illumination parameters accordingly. So the next time you watch
        a movie, your home knows it and will readily adjust the illumination intensity to optimum! <br> You are say, awake
        early, the kitchen lights are a bit too bright, you hate it, everyone hates it. Your smart home knows it. When
        you walk into the kitchen the lights feel just about right!</p>
    <p class="text-center text-md-left"><strong class="text-secondary">Doors & gates</strong> are slated to become smarter as well. Keyless entries would
        involve using your
        retina/face as the authorization token. As mentioned earlier since the devices all talk amongst themselves, when
        you open the door you can find your living room lights turned ON, just at the right intensity. Much more secure
        and convenient.</p>
    <p class="text-center text-md-left"><strong class="text-secondary">Smart gardens </strong> is also quite popular. Finding a wilted garden after a
        long
        vacation is very disheartening. If you have devices which know where to get the water from and when to water
        things can very well run by themseleves. Moreso, each plant can have their personalized watering schedule. You
        can change the schedule while being away on vacation.</p>
    <p class="text-center text-md-left"> <strong class="text-secondary">Smart aquariums</strong> have an automated precise control on the timings of the
        accessories. Its proven that your pets are a creatures of habit. Devices can handle that very well, plus when
        they are connected to the internet you are in control of your aquarium remotely all the time.</p>
    <p class="text-center text-md-left">It is already possible for much of the home to be connected with smart devices. There are smart sockets that
        automatically turn on/off devices. Smart alarms can play music when you wake up or even tell you the news. Voice
        assistants can even run entire routines where the lights, home appliances, thermostat, alarms and other devices
        are controlled.</p>

    <p class="text-center text-md-left">Going forward, this will be extended throughout the home. Consider the morning routine. The shutters will open
        right before you wake up to help you get rid of that grogginess. Even before you wake up, the coffee maker will
        start getting your morning cup ready. The bathroom will get the water heated for your shower. Your stereo will
        start playing some morning tunes as you have your morning cup. Your TV will also turn on and show you your
        preferred news channel,the thermostat will adjust to a comfortable temperature.</p>
    <p class="text-center text-md-left">Of course, all of these are not going to happen overnight. There are a few barriers to widespread adoption of
        IoT-enabled smart homes, the primary of which is cost. Privacy is another major concern. Then there are the
        current technological limitations that create difficulties in a seamless connection between multipole IoT
        devices</p>
    <p class="text-center text-md-left">At Eensymachines we believe homes won't change with a flip of a button. Gradually as the junta sees benefits of
        having individual devices incorporated in their homes, it would build trust and convince the users of their many
        benefits. Thus over the next few years we can expect homes to be transformed with a swarm of internet connected devices.</p>
    <div class="container text-center">
        <p class="my-2">Check out
        <h4><a href="/products/autolumin">Autolumin</a></h4> is our new product with cloud controlled switches</p>
    </div>
</div>