<div class="container">
    <h4 class="text-secondary text-center text-md-left">Uber life: hobby-less</h4>
    <hr>
    <p class="text-center text-md-left">I think electrical switches have served their prupose since their advent. Its
        time we refurbish them with <strong>cloud connectivity & internet</strong>. They also have occupied much of our
        mindspace,
        which collectively we could have used for better things. <br> I own an aquarium that has accessories that need
        to be
        turned on/off after prescribed hours of operation. I love my pets but cannot let that schedule occupy my
        mindset. Do I wait till I retire to have an aquarium in the first place or employ someone to keep the schedule
        running ? <br> I also own a sizeable garden in my terrace. Gardens do indeed need attention and your time. No
        garden
        can thrive without strict watering schedules. If a gardener does that for me I guess its no longer
        <strong>my</strong> hobby. It again boils down to the <strong>same argument of not having an hobby for the
            dearth of time.</strong>
    </p>
    <p class="text-center text-md-left">
        If you drill down to the problem and see it at a simplified level this is what comes out of it:
    </p>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0 text-info">The only thing that stops me from having a hobby of my choice whilst continuing my
                routine is the time required to plan and remember to turn a bunch of electrical switches</p>
        </blockquote>
    </figure>
    <p class="text-center text-md-left"><i class="far fa-smile"></i> Sounds silly when I put it that way? We have been
        neck-deep in the rat-race, so deep that we couldn't inbibe hobbies just cause it was too much of time spent on
        electrical switches!! </p>

    <p class="text-center text-md-left">Fear not! - we have the perfect solution for you. <a type="button"
            class="btn btn-outline-info btn-sm" href="/products/autolumin">Autolumin</a> does all that you thought was
        an overhead, lets you enjoy the hobby despite following a uber-busy life. This will replace your stone-age
        manual switches with those <span class="text-info">that can be controlled from anywhere!, Yes anywhere!</span>
    </p>

    <!-- how to use Autolumin  -->
    <h4 class="text-secondary text-center text-md-left">Old switches out, Autolumin in</h4>
    <hr>
    <p class="text-center text-md-left">Electrical connections on <a type="button" class="btn btn-outline-info btn-sm"
            href="/products/autolumin">Autolumin</a> are quite equivalent to your switches. Though we recommend only
        experienced professionals handle them. Like any other switches a single pole passes thru Autolumin while other
        one can be direct. <span class="text-info">Autolumin piggybacks onto to your WiFi/hotspot</span> to connect to
        the cloud, so Yes!, you'd need a WiFi around this unit (Atleast in range ~30') for it to latch on. While
        autolumin can work in the offline mode, its recommended to keep the WiFi ON the entire time to avail full
        feature benefits.</p>

    <p class="text-center text-md-left"><span class="text-info">Autolumin needs no mobile apps, and works from the
            browsers.</span> Distinct advantage is that you have no longer to worry about updating /maintaining apps
        from playstore. It also means we dont occupy any space on your mobile fones. All you need is a browser & an
        internet connection. Not only can you access autolumin from fones, but from tablets, laptops and even desktops.
        Yes! any device with any form factor.</p>

    <p class="text-center text-md-left">Autolumin is secured and connected to your email. Only you can alter the
        settings of your house.(or the members of your family you grant access to) Autolumin does work in the offline
        mode but on boot it does require valid internet connection.</p>

    <h4 class="text-secondary text-center text-md-left">The case of wilting garden</h4>
    <hr>
    <p class="text-center text-md-left">I know many gardeners who like pampering their plantations, and why not?
        Afterall its one hobby that has multitude of benefits. <i class="fas fa-seedling"></i> But its quite
        disheartening to see a garden wilting. Parched gardens are painful. You either hire a gardener to do this in
        your absence or giveup on the hobby altogether. Say no more ! <span class="text-info">Autolumin can drive a
            bunch of water pumps and also setup a watering schedule.</span> You can do this from your hanheld from
        anyplace on the face of this planet that has an internet connection. Your vacations and business trips are once
        again carefree. You can now be a proud gardener and also have the peace of mind, never ever having to see a
        wilting garden.</p>

    <h4 class="text-secondary text-center text-md-left">The case of dying fish</h4>
    <hr>
    <p class="text-center text-md-left">Fish&nbsp;<i class="fas fa-fish"></i> are fun, and Im yet to come across a
        person who doesn't like them. Cat/Dog people wars will go on, but no one disagrees on having aquariums.
        Aquariums though are a posh possession, aren't really easy to maintain. If you have tried in the past- yes! Im
        talking about you. You ought to remember to turn the accessories ON/OFF and there is little to no tolerance on
        missing out to do that.</p>
    <ul>
        <li>Lights stay on for a bit longer- you have algae bloom</li>
        <li>Filter does not run 6 hours a day minimum- you have a smelly tank, ammonia spike</li>
        <li>Aeration is below 5 hours fish suffocate</li>
        <li>Heater does not run for a right time, fish get infections and tend to be lazy</li>
    </ul>
    <p class="text-center text-md-left">Point is: aquariums are hinged on a fine balance of accesories' operation time.
        <a type="button" class="btn btn-outline-info btn-sm" href="/products/autolumin">Autolumin</a> again comes in
        handy. You can program your aquarium for operating hours from <strong>anywhere</strong> and enjoy your pets
        being pampered.</p>
    <h4 class="text-secondary text-center text-md-left">The case of quarelling apartment inmates</h4>
    <hr>
    <p class="text-center text-md-left">Housing societies have common areas where illumination turn ON/OFF times are an
        issue, since its a shared consent item. General body meetings help to alleviate this issue to certain extent but
        <a type="button" class="btn btn-outline-info btn-sm" href="/products/autolumin">Autolumin</a> again help to
        drive the GBM guidelines and also help certain floors to push their exceptions.</p>
    <p lass="text-center text-md-left">Lets say your society's GBM decides the apartment building shall light up from
        18:30 to 06:00 everyday. And this is in view to save billing units. This guideline is a geneal one and does not
        necessarily suit all. Autolumin can allow a floor to have exceptions while respecting the GBM guidelines. </p>

    <p class="text-center text-md-left">We aren't claiming that we have developed a "silver-bullet" but as you can see
        -Autolumin is pretty versatile when it comes to tackling a range of problems. You can <a type="button"
            class="btn btn-outline-success btn-sm" href="https://api.whatsapp.com/send?phone=+918390302622">Reach out to
            us &nbsp;<i class="fab fa-whatsapp"></i></a> for a demo.
    </p>
</div>