<div class="container">
    <h4 class="text-secondary text-center text-md-left">Versatile autolumin features</h4>
    <p class="text-justify text-md-left">
        Versatality has been built right into <a type="button" class="btn btn-outline-info btn-sm"
            href="/products/autolumin">Autolumin</a>. Infact autolumin as though the name suggests, controls the
        illumination but thats only one cardinal use case where it can be used. Autolumin is a bunch of electrical
        switches that can be controlled from the internet. Its agnostic of what appliance is attached to it on the
        terminal. As long as the amperage ratings are respected Autolumin can be used in all cases when you need to
        schedule cloud connected switches to a clock. Nothing stops you from using autolumin on an aquarium. <br> Let's
        discuss this interesting proposition.
    </p>
    <h4 class="text-secondary text-center text-md-left">Systematic aquariums</h4>
    <!-- <img src="/images/controlaqua.jpg" alt="" width="100%" class="img-responsive"> -->
    <img src="/images/controlaqua.jpg" alt="" width="100%" class="img-responsive d-none d-md-inline"
        style="float:right; height:180px; width: 350px; background-size: cover; padding-left:1em;">
    <img src="/images/controlaqua.jpg" alt="" width="100%" class="img-responsive d-block d-md-none">
    <p class="text-justify text-md-left mt-2">
        Aquarists, like me know well, this hobby is pure "labour of love". Precise control on the water body is about
        getting the Nitrogen cycle <sup>(1)</sup> right. Its an ultra fine balance and can only be achieved when you
        have a firm handle
        on the accessories working in synchrony.
    </p>
    <ul>
        <li>Aeration</li>
        <li>Light</li>
        <li>Filtration</li>
        <li>Heater & water temperature</li>
        <li class="text-muted">pH of the water</li>
    </ul>
    <small class="text-warning">**pH plays a vital role in the equilibrium of the tank. But we shall dedicate an entire
        blog in that effect</small>
    <p class="text-justify text-md-left">
        Remembering to turn on/off the accesories and operating them for the desired time is a full time job, no one
        can deny that. Slightest of slips in the schedule that lead to delta changes in the water and thus the health of the
        fish. The Nitrogen-cycle <sup>(1)</sup> of the tank is a delicate balance of conditions plus
        micro-bacter<sup>(7)</sup> there
        in. If you can get it right, you are an successful aquarist! Believe me only a few can get there. But, wait a
        minute, not if you have machines to help you do that job !! - <a type="button"
            class="btn btn-outline-info btn-sm" href="/products/autolumin">Autolumin</a> can be set to a clock and asked
        to turn switches at precise intervals.
    </p>
    <h4 class="text-secondary text-center text-md-left">Fish are creatures of habit</h4>
    <img src="/images/fish.jpg" alt="" width="100%" class="img-responsive d-none d-md-inline"
        style="float:left; height:150px; width: 250px; background-size: cover; padding-right:1em;">
    <img src="/images/fish.jpg" alt="" width="100%" class="img-responsive d-block d-md-none">
    <p class="text-md-left mt-2 text-justify">
        If you are starting new, somewhere a year down the lane you will realise that your pets are creatures of habit.
        Timely feeds, water changes, exact water temperature, sleep cycles are all factors in making them live much
        longer. I dont how underrated that statement is, but fact remains that fish need the environment in equilibrium
        and
        at max tolerate very gradual change. No natural water body changes its attributes suddenly, and hence the
        creatures dwelling in it have adapted to this phenomenon. Aquariums only mimic this environment and try to
        maintain similar conditions.
    </p><br>
    <h4 class="text-secondary text-center text-md-left">Autolumin to the rescue</h4>
    <p class="text-justify text-md-left">
        The aquarium accesories that you were initially connecting to the electrical socket (direct ~AC) will now be
        re-routed via the <a type="button" class="btn btn-outline-info btn-sm" href="/products/autolumin">Autolumin</a>
        socket. For each of the switches that <a type="button" class="btn btn-outline-info btn-sm"
            href="/products/autolumin">Autolumin</a> provides we have made provisions for terminals to be connected.
        Once your accesories are rerouted via Autolumin, they come under the ambit of the managed clock from the cloud.
        <br> Next you get a handheld and make sure its online. Pull up your browser and thru the webapp Eensymachines
        provides you can securely alter the operating clock of all the switches.
    </p>
    <h4 class="text-secondary text-center text-md-left">From my personal experience</h4>
    <p class="text-justify text-md-left">
        I've been an aquarist, avid aquascaper<sup>(2)</sup> too! &#x20B9;80 Kissing Gorami<sup>(3)(4)</sup> came in
        when it was barely an inch, and just yesterday (after 3 years) I had to re-sell it when it was a foot long!! All
        the 3 years not even a single sick day, no swim-bladder<sup>(5)(6)</sup>, no rash ! It demanded a much bigger
        swim space which I couldn't afford. All the pampering it got with precision controls definetly extended its life
        a tad bit. <br>
        So when Im recommending you to use <a type="button" class="btn btn-outline-info btn-sm"
            href="/products/autolumin">Autolumin</a> Im doing so with solid / proven results to back it up.
    </p>
</div>