<div class="container">
    <h4 class="text-secondary text-center text-md-left">Webapps are all fine except for push notifications</h4>
    <hr>
    <p class="text-justified text-md-left">We @ <span class="text-primary">Eensymachines believe its wise to save space on your phones.</span> While installing mobile apps from playstores could be inexpensive, although in the longer run, maitaining too many of them is practically cumbersome.
        Number of applications is limited only by the space available. Why else would they have apps that can analyse the usage patterns ? When it comes to de-cluttering your fone, its those apps that haven't been used be the first ones to be un-installed.
        <br> If you come to think of it though, infrequently used applications appear to be unnecessary for a specific point in time only to be required in later date. <span class="text-primary">Effectively your de-cluttering exercise is just a knee-jerk reaction</span>,
        a desparate attempt to carve out some space.</p>
    <p>If we shift to mobile web, this no longer is a problem. Infrequent applications can be from the browser while basic ones continue to have their space on playstores. IoT device applications are an ideal candidate for this. Not very frequently would
        you be interacting with your device to change settings, but you certainly need it in a while. Had we made an dedicated application for this - it would be been a guest/transient application on your phone. Not to mention developing web version nevertheless.
        While Webapps are cool in so many ways, push notifications (a vital part of IoT) is not possible. One has to be logged in continuously to get notifications, <span class="text-primary">or maybe we can leverage the existing messaging apps on your phone.</span>
    </p>

    <h4 class="text-secondary text-center text-md-left">Telegram to bridge the gap</h4>
    <hr>
    <p class="text-justified text-md-left">Era of SMS is ong bygone, automating <a href="https://www.whatsapp.com/">WhatsApp</a> is a bit tedious, <a href="https://slack.com/intl/en-in/">Slack</a> has a limited user base and the chances of client reading an urgent/notification over email can
        be poor. Telegram, thus fits the bill for IoT applications as the <span class="text-primary">APIs are straightfwd, available and inexpensive.</span> Telegram also has a sizeable userbase with people frequently visiting it on their phones, though
        not as frequent as WhatsApp.
        <a href="https://core.telegram.org/bots">Telegram bots</a> are quite handy and as such ideally suited for the short multimedia messages that IoT servers require to send over to clients. At the core, Telegram Bots are special accounts that do not
        require an additional phone number to set up. <span class="text-primary">Only with authorized chatid a bot can be configured to send notification / messages / alerts over telegram.</span>
    </p>
    <h4 class="text-secondary text-center text-md-left">Interacting with the device from Telegram</h4>
    <hr>
    <p class="text-justified text-md-left">
        While its natural to assume that Telegram can be used only as a one-way communication in this context, its actually not. Passing commands to the bot can be very easily translated to device-specific commands on the ground. The only problem here is: the
        user might have to remember a bunch of commands. Clicking on a webapp instead is far more easier. Eensymachines, hence develops its own web applications and <span class="text-primary">piggybacks on Telegram only for notifications.</span>
    </p>

    <h4 class="text-secondary text-center text-md-left">Bots send you messages, gets them from our server</h4>
    <hr>
    <p class="text-justified text-md-left">
        Devices are tuned 24x7 onto our servers, so will be Telegram bots. The server stands to be the single source of truth at all times. Anytime your device would want to reach you: it shuttles its messages to the bot via the server.
    </p>
    <div class="text-center">
        <!-- https://getbootstrap.com/docs/4.0/content/images/ -->
        <img class="d-none d-md-inline" src="/images/tgrambot.jpg" alt="" width="100%" class="img-fluid" style="max-width: 100%; height: auto;">
        <img class="d-inline d-md-none" src="/images/tgrambot.jpg" alt="" width="100%" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
    <h4 class="text-secondary text-center text-md-left">Do I need to configure the bot?</h4>
    <hr>
    <p class="text-justified text-md-left">
        From a user perspective there is no extra configuration that we expect when you register. We would need atleast one valid phone number that has Telegram installed on it. One can change this phone number as many times as required. If you are looking to
        get copies of the same notification delivered to distinct number we can do that for 5 concurrent such phone numbers per user registry.
    </p>
</div>