<div class="container">
    <h4 class="text-secondary text-center text-md-left">Need for switches of the future</h4>
    <hr>
    <p class="text-justified text-md-left">
        Households having family members that need assistance find it a daunting overhead to keep track of routine tasks (example :the electrical switch status and operation.) Able members often get frustrated with the number of things that need management and
        personal attention, and often resort to hiring permanent domestic-helps. While helping your ailing family member is never an issue, it is these operational tasks that need delegation/automation. We are sure the frustrated/toiling members wish
        they could lead a much easier life, saving a lot of resources and minspace if technology could provide relief from operational tasks.
        <br><br> Afterall we have the cloud, handhelds, WiFi enabled homes, and certainly the software advancement for analytical capability. Why then cant we build a simple solution for households?
    </p>
    <p class="text-justified text-md-left">
        Consider a housing society that is struggling with outstanding electricity bills and then decides to push some discipline in the usgae of corridor / porch lights' on-time. Asking a security guard to do an additional duty is a natural choice, but manual
        effort is imprecise and induction of frequent changes to the schedule could mean you have re-instruct the stationed guard, plus guards aren't going to predict the electricity bill for you.
        <br><br> With Smart switches not only can you change the schedules remotely from the handhelds but they also can predict the consumption by 'observing' your current usage patterns.
    </p>
    <p class="text-justified text-md-left">
        Consider a restaurant which needs to turn on their neon sign on the road at regular intervals. This is some additional task that has to be either delegated or to be executed by the management. A low level routine task that can be easily automated with
        the use of technology while the management can stay in control remotely from over any handheld. Smart switches can be programmed to be thrown precisely at clocked intervals in a never ending cycle.
    </p>
    <h4 class="text-secondary text-center text-md-left">Nature of switches</h4>
    <hr>
    <p class="text-justified text-md-left">
        What do we want our smart switches to be?
        <ul>
            <li>Switches that can be operated remotely.</li>
            <li>Switches that can be operated on the move from any device or handhelds.</li>
            <li>Switches that can be scheduled to the clock, and programmed from handhelds.</li>
            <li>Switches that can provide descriptive analytics on power consumption.</li>
        </ul>
        <p class="text-justified text-md-left">
            Advent of cloud technologies made the remote connection a banal reality while <a href="https://en.wikipedia.org/wiki/Single-board_computer">single board computing</a> has opened up infinite possibilities. What was considered daunting tasks
            years before suddenly has come to the desks of DIY engineers in garages! <br> Single board computers were a revolution, in that they allowed us to customize devices closer to user preferences. Relays when coupled with such devices can give
            a internet gateway and make them come alive. A cloud can then serve as a route to commmands from the user and data from the device (on ground). Smart phones have got almost all of us online, all that remains is to get our things online.
        </p>
    </p>
    <h4 class="text-secondary text-center text-md-left">Internet of things & Analytics</h4>
    <hr>
    <p class="text-center">
        <img class="d-none d-md-inline" src="/images/growthiot.png" alt="" width="50%" class="img-fluid" style="max-width: 100%; height: auto;">
        <img class="d-inline d-md-none" src="/images/growthiot.png" alt="" width="100%" class="img-fluid" style="max-width: 100%; height: auto;">
    </p>
    <p class="text-justified text-md-left">
        Notice the avalanche of devices that were projected to go online by 2020. This though is old prediction the trend clearly shows we are heading into a future full of devices online. But the value is in combining internet of things and analytics. Internet
        of things can accuulate huge chunks of data over a span of time. Only when we draw insights into the data can we truly harness the power
    </p>
    <h4 class="text-secondary text-center text-md-left">Power consumption analytics</h4>
    <hr>
    <p class="text-justified text-md-left">
        <!-- this is where we bring out the significance of analysis of current consumption -->
        Smart switches can watch over the current consumed over a switch or a cluster of switches. Such timelined data is then uploaded to the cloud. An analytical engine on the cloud can crunch the data and prorate to predict the bill even before it is generated
        by the utilites provider. This helps the users to be aware of their spikes in consumption and then can take timely corrective action. Analytical engines improve their predictions over time. As the pattern of the trend gathers more data, the algorithm
        can then refine its prediction to approach 100% accuracy.
    </p>
    <p class="text-center">
        <img class="d-none d-md-inline" src="/images/ampanalysis.png" alt="" width="100%" class="img-fluid" style="max-width: 100%; height: auto;">
        <img class="d-inline d-md-none" src="/images/ampanalysis.png" alt="" width="100%" class="img-fluid" style="max-width: 100%; height: auto;">
    </p>
</div>