<div>
    <p class="text-center text-md-left">We are a tech-startup based in
        <span class="text-primary"><a target="_blank" href="https://en.wikipedia.org/wiki/Pune">Pune,
                India</a>,</span>building <span class="text-primary"><a target="_blank"
                href="https://en.wikipedia.org/wiki/Internet_of_things">Internet-Of-Things</a>
            artefacts</span> that can make your home an interesting place to live at. All the <span
            class="text-primary">products are cloud-ready</span> and can be controlled from anyplace that has internet.
    </p>
    <p class="text-center text-md-left">We, a bunch of creative engineers, building small electrical/electronic devices
        that envoy the routine/ clockwork task. Keen on solving everyday problems in a bid to make our domestic lives
        easier, we assemble the hardware in-house & meticulously build and test every line of working code on it.</p>
    <p class="d-none d-md-inline">
        <i class="text-primary">Watching a swarm of cloud connected machines executing precise clockwork is such a
            delight that we went ahead to build an entire startup out of it.</i> Now, everytime we build one thing it
        leads us to a next whacky idea for your home. It's like the excitement never ends.
    </p>
</div>