<div class="container">
    <h3 class="text-info">
        <a ng-if="item.email" target="_blank" href = "{[item.email]}"> <i class="far fa-envelope-open clickable"></i></a>
        <a ng-if="item.facebook" target="_blank" href="{[item.facebook]}"><i class="fab fa-facebook clickable"></i></a>
        <a ng-if="item.twitter" target="_blank" href="{[item.twitter]}"><i class="fab fa-twitter clickable"></i></a>
        <a ng-if="item.instagram" target="_blank" href="{[item.instagram]}"><i class="fab fa-instagram clickable"></i></a>
        <a ng-if="item.github" target="_blank" href="{[item.github]}"><i class="fab fa-github clickable"></i></a>
        <a ng-if="item.whatsapp" target="_blank" href="{[item.whatsapp]}"> <i class="fab fa-whatsapp"></i></a>
    </h3>
</div>