<div class="container">
    <div class="d-none d-md-block col-md-6 offset-md-3">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+918390302622" role="button" class="btn btn-outline-primary btn-block">
            <i class="fab fa-whatsapp"></i>&nbsp;Enquire</a>
    </div>
    <div class="d-block d-md-none col-12">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+918390302622" role="button" class="btn btn-outline-primary btn-block">
            <i class="fab fa-whatsapp"></i>&nbsp;Enquire</a>
    </div>
</div>