<div class="row my-3" ng-controller="productListCtrl">
    <!-- view is to show the product snapshot, not all th details but only those which the customer might want to see the first glance -->
    <div class="col-12 col-md-6 offset-md-3">
        <div class="form-group  d-block">
            <!-- from here we select one of the products in the range -->
            <select class="form-select" id="prodSelect"
                style="width:100%;height:30px;border-radius:1ex;background-color: white;border-color: rgba(0,0,0,.2);"
                ng-model="selc_prod" ng-options="p.title for p in products"></select>
        </div>
        <div class="card mb-3">
            <!-- product title and short description -->
            <h3 class="card-header">{[selc_prod.title]}</h3>
            <div class="card-body">
                <h6 class="card-title">{[selc_prod.short_desc]}</h6>
            </div>
            <!-- image of the product -->
            <!-- image path is specific to how the application is configured -->
            <img class="mx-auto d-block" width="100%" src="/images/{[selc_prod.img]}" alt="photo-prod">
            <div class="card-body">
                <!-- here you have the lengthy description of the product -->
                <p class="card-text">{[selc_prod.desc]}</p>
            </div>
            <!-- this will enlist  all the features at a glance -->
            <ul class="list-group list-group-flush">
                <li ng-repeat="f in selc_prod.features" class="list-group-item">{[f.title]}<span
                        class="float-right"><i class="bi" ng-class="{1:'bi-check-circle text-success',0:'bi-slash-circle text-danger'}[f.val]"></i></span></li>
            </ul>
            <!-- footer for redirection and more links -->
            <div class="card-body" ng-if="selc_prod.status=='in-market'">
                <a href="{[selc_prod.more_link]}" class="card-link">More on this..</a>
            </div>
            <div class="card-footer text-muted" ng-if="selc_prod.status!='in-market'">
                This product is in the making, but once we launch it, you would know. 
            </div>
        </div>
    </div>
</div>